
.superInput {
    /*color: blue;*/
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid #8b8a8b;
    border-radius: 4px;
}

.errorInput {
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    border: 3px solid #9097A2;
    background: #D3D4DA;
}

.error {
    color: red;
}