.default {
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid #8b8a8b;
    border-radius: 4px;
    transition: 220ms all ease-in-out;
    &:hover {
     background-color: scale-color(#8b8a8b, $lightness: -20%);
 }
    &:focus {
        outline-style: solid;
        outline-color: transparent;
        box-shadow: 0 0 0 2px scale-color(#8b8a8b, $lightness: -40%);
    }
}



.red {
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid #8b8a8b;
    border-radius: 4px;
    background: red;
}

* {
    box-sizing: border-box;
}

a.default {
    text-decoration: none;
}

/*.default {*/
/*    border: none;*/
/*    !*background-color: transparent;*!*/
/*    font-family: inherit;*/
/*    cursor: pointer;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    !*background-color: #fff;*!*/
/*    color: #fff;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);*/
/*    !*padding: 0.25em 0.75em;*!*/
/*    !*min-width: 10ch;*!*/
/*    !*min-height: 44px;*!*/
/*}*/



